.obmen {
    i{
        margin-right: 10px;
    }
  margin: 35px 0;
  .obmen-title {
    h2 {
      color: #1c1c1c;
      font-size: 70px;
      font-family: KTF Jermilov;
      font-style: normal;
      font-weight: 400;
      line-height: 70px;
    }
  }
  .obmen-content {
    background-color: #f8f8f8;
    flex-direction: column;
    h5 {
      padding-top: 35px;
      color: #474747;
      font-size: 20px;
      font-family: Gothic A1;
      font-style: normal;
      font-weight: 900;
      line-height: 30px;
    }
    p {
      padding-bottom: 35px;
      color: #474747;
      font-size: 16px;
      font-family: Gothic A1;
      font-style: normal;
      font-weight: 500;
      line-height: 16px;
    }
    span {
      padding-bottom: 28px;
      color: #474747;
      font-size: 16px;
      font-family: Gothic A1;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
    }
    img {
      width: 466px;
      height: 480px;
      margin-top: -100px;
    }
  }
}

@media screen and (max-width: 667px) {
    .obmen {
      margin: 20px 0;
      .obmen-title {
        h2 {
            text-align: center;
          font-size: 50px;
        }
      }
      .obmen-content {
        h5 {
          padding-top: 20px;
        }
        img {
          display: none;
        }
      }
    }
}
