.reviews {
  background-color: #f8f8f8;
  .reviews-title {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    h2 {
      font-size: 70px;
      font-weight: 700;
    }
    .btn {
      width: 300px;
      margin-top: 25px;
      height: 50px;
      border: none;
      background: linear-gradient(130.83deg, #cfae87 9.11%, #a48159 70.56%);
      padding: 10px 20px;
      span {
        font-size: 16px;
        font-family: Gothic A1;
        font-weight: 700;
        line-height: 30px;
        color: white;
      }
    }
  }
  .slider-1 {
    img {
    }
    h4 {
    }
    p {
      width: 80%;
    }
    .btns {
      width: 80%;
      display: flex;
      justify-content: space-between;
      padding-bottom: 80px;
      a {
        padding-top: 15px;
      }
      .facebook {
        border: none;
        height: 35px;
        width: 35px;
        border-radius: 50%;
        background-color: #bb9b75;
        margin-bottom: 20px;
        color: white;
      }
    }
  }
}
@media screen and (max-width: 667px) {
  .reviews {
    .reviews-title {
      text-align: center;
      margin-top: 50px;
      display: block;
      h2 {
        font-size: 50px;
      }
    }
  }
}
