.quetions {
  padding-bottom: 102px;
  margin-top: 50px;
  background-color: #f8f8f8;
  .quetions-title {
    padding-top: 60px;
    h2 {
      font-size: 90px;
      font-family: KTF Jermilov;
      line-height: 95px;
      text-align: center;
      font-weight: 700;
      margin-bottom: 40px;
    }
  }
  .accordion {
    .accordion-item {
      button {
        color: #303030;
        font-size: 18px;
        font-family: Gothic A1;
        font-style: normal;
        font-weight: 700;
        line-height: 28px;
        span {
          margin-right: 10px;
          color: #d8d8d8;
          font-size: 18px;
          font-family: Gothic A1;
          font-style: normal;
          font-weight: 800;
          line-height: 28px;
        }
      }
      .accordion-collapse {
        .accordion-body {
          color: #474747;
          font-size: 16px;
          font-family: Gothic A1;
          font-style: normal;
          font-weight: 400;
          line-height: 26px;
        }
      }
    }
  }
}

@media screen and (max-width: 667px) {
  .quetions {
    padding-bottom: 40px;
    margin-top: 30px;
    background-color: #f8f8f8;
    .quetions-title {
      padding-top: 60px;
      h2 {
        font-size: 50px;
        font-family: KTF Jermilov;
        line-height: 50px;
        text-align: center;
        font-weight: 700;
        margin-bottom: 40px;
      }
    }
  }
}