.dostavka {
  .dostavka-title {
    margin: 20px 0;
    h2 {
      color: #1c1c1c;
      font-size: 50px;
      font-family: KTF Jermilov;
      font-style: normal;
      font-weight: 700;
      line-height: 70px;
      text-transform: uppercase;
    }
  }
  .dostavka-russia {
    border-left: 2px solid gray;
    padding-left: 10px;
    h4 {
      color: #474747;
      font-size: 20px;
      font-family: Gothic A1;
      font-style: normal;
      font-weight: 400;
      line-height: 30px;
    }
  }
  .dostavka-content {
    background-color: #f8f8f8;
    padding: 37px 47px;
    margin-bottom: 100px;
    .col-12 {
      border: 1px solid rgb(183, 180, 180);
      padding: 10px;
    }
    span {
      margin-left: 10px;
      color: #494949;
      font-size: 16px;
      font-family: Gothic A1;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
    }
    img {
      margin-right: 10px;
    }
    b {
      color: #494949;
      font-size: 16px;
      font-family: Gothic A1;
      font-style: normal;
      font-weight: 800;
      line-height: 30px;
    }
    span {
      color: #494949;
      font-size: 16px;
      font-family: Gothic A1;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
    }
  }
}


@media screen and (max-width: 666px) {
    .dostavka {
  .dostavka-title {
    h2 {
        text-align: center;
      font-size: 30px;
    }
  }
  .dostavka-russia {
    margin-left: 20px;
    border-left: none ;
    padding-left: 0px;
    text-align: center;
    margin-bottom: 10px;
  }
  .dostavka-content {
    margin-bottom: 80px;
    flex-direction: column;
  }
}
}