.navbar {
  img {
    padding-right: 15px;
  }
  button{
    margin: 0;
  }
  .collapse {
    form {
      width: 680px;
      border: 1px solid #d3d3d3;
      margin-left: 100px;
      input {
        margin-left: 10px;
        width: 610px;
        height: 50px;
        border-right: none;
        border: none;
        outline: none;
        box-shadow: none;
      }
      i {
        color: #bb9b75;
        font-size: 20px;
        padding-top: 13px;
      }
    }
    .toggle {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .fa-envelope {
        margin-left: 50px;
        border: 1px solid #dfdfdf;
        padding: 10px;
        color: #BB9B75;
      }
      .fa-telegram {
        margin-left: 20px;
        border: 1px solid #dfdfdf;
        padding: 10px;
        color: blue;
      }
    }
  }
}

@media screen and (max-width: 667px) {
.navbar {
  display: none;
}
}
